<template>
  <v-main>
    <v-container>
      <h1>Sorted posts</h1>
      <v-card v-if="sortedPosts.length">
        <v-list two-line>
          <v-list-item v-for="item in sortedPosts" :key="`${item.id}`">
            <v-list-item-content>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
              <v-flex v-if="posts.length">
                <v-list-item-subtitle v-for="post in item.posts" :key="post.id">
                  {{ post.name }}
                </v-list-item-subtitle>
              </v-flex>
              <v-flex v-else>
                <v-list-item-subtitle>
                  No posts
                </v-list-item-subtitle>
              </v-flex>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
      <v-flex class="text-center" v-else>
        <v-progress-circular
            indeterminate
            :size="50"
            :value="40"
            color="blue-grey"
        ></v-progress-circular>
      </v-flex>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "Task2",
  data() {
    return {
      posts: []
    }
  },
  computed: {
    sortedPosts() {
      if (this.posts.length) {
        this.posts.forEach(item => this.$set(item.author, 'posts', []))
        const data = this.posts
        let authors = []
        authors = [...new Map(data.map(item => [JSON.stringify(item.author), item.author])).values()];
        data.forEach(dataItem => {
          authors.forEach(authorItem => {
            if (dataItem.author.id === authorItem.id) {
              const {name, id} = dataItem
              if (name && id) {
                authorItem.posts.push({name, id})
              }
            }
          })
        })
        return authors
      } else {
        return []
      }
    }
  },
  created() {
    setTimeout(() => this.posts = [
      {
        id: 1,
        name: 'Don\'t let the noise of others\' opinions drown out your own inner voice.',
        author: {
          id: 1,
          name: 'Steve Jobs',
        }
      },
      {
        id: 2,
        name: 'Have the courage to follow your heart and intuition.',

        author: {
          id: 1,
          name: 'Steve Jobs',
        }
      },
      {
        id: 3,

        name: 'A clever person solves a problem. A wise person avoids it.',

        author: {
          id: 2,
          name: 'Albert einstein',
        }
      },
      {
        id: 4,

        name: 'Innovation distinguishes between a leader and a follower.',

        author: {
          id: 1,
          name: 'Steve Jobs',

        }
      },
      {
        id: 5,
        name: 'Any fool can know. The point is to understand.',
        author: {
          id: 2,
          name: 'Albert einstein',
        }
      },
      {
        author: {
          id: 3,
          name: 'Henry Ford',
        }
      },

    ], 3000)
  }
}
</script>

<style scoped>

</style>