<template>
  <v-main>
    <v-container>
      <h1>Dynamic component rendering</h1>
      <v-flex class="text-center" v-if="!cards.length">
        <v-progress-circular
            indeterminate
            :size="50"
            :value="40"
            color="blue-grey"
        ></v-progress-circular>
      </v-flex>
      <v-flex v-if="cards.length">
        <v-card v-for="item in cards" :key="item.id">
          <v-card-title>{{ `Card ${item.id}` }}</v-card-title>
          <v-img
              v-if="item.type='IMAGE_CARD' && item.source"
              height="250"
              :src="item.source"
          ></v-img>
          <v-card-text v-if="item.type='TEXT_CARD' && item.content">
            {{ item.content }}
          </v-card-text>
          <v-container v-if="item.type='CONTAINER_CARD' && item.sub_cards">
            <v-flex >
              <v-card v-for="card in item.sub_cards" :key="card.id">
                <v-card-title>{{ `Subcard ${card.id}` }}</v-card-title>
                <v-img v-if="card.type='IMAGE_CARD' && card.source"
                       height="150px"
                       :src="card.source">
                </v-img>
                <v-card-text v-if="card.type='TEXT_CARD' && card.context">
                  {{ card.context }}
                </v-card-text>
              </v-card>
            </v-flex>
          </v-container>
        </v-card>
      </v-flex>
    </v-container>
  </v-main>
</template>

<script>

export default {
  name: 'Task1',
  data() {
    return {
      cards: []
    }
  },
  created() {
    setTimeout(() => {
      this.cards = [

        {

          id: 1,

          name: "Card 1",

          type: "CONTAINER_CARD",

          title: "Card 1 content",

          sub_cards: [

            {

              id: 1,

              name: "Image Card",

              type: "IMAGE_CARD",

              source:

                  "https://images.unsplash.com/photo-1618421770676-356cce7a9c9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80",

            },

            {

              id: 2,

              name: "Card 2",

              type: "TEXT_CARD",

              context: "Text card Content",

            },

          ],

        },

        {

          id: 2,

          name: "Card 2",

          type: "IMAGE_CARD",

          source:

              "https://images.unsplash.com/photo-1543269664-76bc3997d9ea?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80",

        },

        {id: 3, name: "Card 3", type: "TEXT_CARD", content: "Card 3 Content"},

      ]
    }, 5000)
  }
}
</script>
