<template>
  <v-app>
    <!--    <router-view>-->
    <v-app-bar
        app
        color="primary"
        dark
    >
      <v-btn to="/">Home</v-btn>
      <v-btn to="/task1">Task1</v-btn>
      <v-btn to="/task2">Task2</v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
      <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
